*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* transition: all 0.5s ease-in-out; */
}
main{
  min-height: 80vh;

}

a{
  text-decoration: none;
}

.flex-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scrollable-div{
  height: 65vh;
  overflow-y: scroll;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.width-70{
  width:70%;
}
.hide-lg{
    display:none
  }
  .full-width{
    width:100%
  }
.cart-counter{
  background-color: cadetblue;
  display: inline-block;
  width: 0.5rem;
  height:0.5rem;
  border-radius: 1rem;
  text-align: center;
}
.login-container{
  border:1px solid rgba(0, 0, 0, 0.2);
  width: 90vw;
  border-radius: 0.2rem;
  height: 36rem;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2),-5px -5px 15px rgba(0, 0, 0, 0.2);
}
@media  (max-width: 840px){
  .scrollable-div{
  height: 70vh;
  overflow-y: scroll;
  overflow-y: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  padding:15%
}
.scroll-item{
  scroll-snap-align: start;
}
  .full-width-sm{
    width:100%
  }
  .hide-lg{
    display: block;
  }
  .hide-sm{
    display: none;
  }
  
}
